{% extends "template.html" %}
{% block conteudo %}

    <div class="col-6 offset-3 container-fluid">
        <div class="d-grid gap-0">
            <a class="btn btn-primary btn-salvar" href="{{ url_for('render_cadastro_jogo') }}">Criar novo jogo</a>
        </div>
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-striped table-responsive table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Console</th>
            </tr>
        </thead>
        <tbody>
            {% for jogo in jogos %}
                <tr>
                    <td>{{ jogo.nome }}</td>
                    <td>{{ jogo.categoria }}</td>
                    <td>{{ jogo.console }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}